mixin title(text,tag,className,modificator)
	-var tagName;
	-var defaultClassName = "title";
	-var name;
	- name = className || defaultClassName


	div(class=name ,class=modificator)
		.wrap
			- tagName = tag || p
			#{tagName}.title__text!= text
				
				

mixin avatar(img)
	.avatar
		.wrap
			img.avatar__img(src="img/#{img}", alt="#{img}")

mixin buttonSubmit(text,className)
	.button_wrap
		button(type="submit" class=className) #{text}

mixin buttonLink(text,link,className)
	.button_wrap
		a(href="#{link}" class=className) #{text}

mixin topImageContent(strong, text)
	strong.top-image__content__title!= strong
	p.top-image__content__text!=text



mixin topImageItem(image)
	.top-image__item
		- if (image === undefined)
			.top-image__wrap
				.top-image__content
					block
		- else
			.top-image__wrap(style!='background-image: url(img/#{image});')
				.top-image__content
					block

						
mixin form(textarea)
	form.message-form(method="POST")
		input.message-form__text(type="text", placeholder="Ваше Имя")
		input.message-form__text(type="text", placeholder="Ваш email")
		textarea.message-form__text(placeholder=textarea)
		block
