mixin title(text,tag,className,modificator)
	-var tagName;
	-var defaultClassName = "title";
	-var name;
	- name = className || defaultClassName


	div(class=name ,class=modificator)
		.wrap
			- tagName = tag || p
			#{tagName}.title__text!= text
				
				

mixin avatar(img)
	.avatar
		.wrap
			img.avatar__img(src="img/#{img}", alt="#{img}")

mixin buttonSubmit(text,className)
	.button_wrap
		button(type="submit" class=className) #{text}

mixin buttonLink(text,link,className)
	.button_wrap
		a(href="#{link}" class=className) #{text}

mixin topSliderContent(strong, text)
	strong.slider__content__title!= strong
	p.slider__content__text!=text



mixin sliderItem(image)
	.slider__item
		- if (image === undefined)
			.slider__wrap
				.slider__content
					block
		- else
			.slider__wrap(style!='background-image: url(img/#{image});')
				.slider__content
					block

			
